
@{
    ViewBag.Title = "Nomina Generada";
}

<h3>Ups! Esta nomina ya existe.</h3>
<div class="alert alert-info" role="alert">La nomina solicitada ya ha sido generada.</div>
<hr />
@Html.ActionLink("Ir al listado de Nomias", "Index", "Nominas", new { @class = "btn btn-success" })