@
@{
    ViewBag.Title = "Principal";
}

<div class="container" align="center">
	<img class="irc_mi" src="https://www.eticalegal.mx/wp-content/uploads/2019/05/summit_anim_home.gif"
		 alt="Imagen relacionada" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)"
		 height="375" style="margin-top: 10px;">
</div>
<div class="container" align="center">
	<h2>Gestión de Recursos Humano</h2>

	<em>Edickson Tejeda - 2017-4778</em>
	<br />
	<em>Daniel Lopez - 2017-4933</em>


</div>